@font-face {
    font-weight: 400; /* normal */
    font-family: Zen Dots;
    src: url("../fonts/ZenDots-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-weight: 700; /* bold */
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-weight: 400; /* normal */
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
    font-display: swap;
}
